h2 {
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    color: black;
    font-size: 3rem;
}

.h2-especial {
    margin-top: 60px; /* Ajusta el valor según sea necesario */
    margin-bottom: 60px; /* Ajusta el valor según sea necesario */

}

.container {
    max-width: 1200px;
    margin: 0 auto;
    /*padding: 20px;*/
}

/*CARRUSEL*/

/* Agregar un sombreado suave a las imágenes */
/* Agregar un sombreado suave a las imágenes del carrusel */
.shadowimg {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    /* Ajustar el color y la opacidad según tus preferencias */
    transition: box-shadow 0.3s ease-in-out;
    /* Agregar una transición suave al sombreado */
}

/* Ajustar el sombreado cuando el cursor esté sobre la imagen */
.shadowimg:hover {
    box-shadow: 0 9px 16px rgba(0, 0, 0, 1);
    /* Cambiar el sombreado cuando el cursor esté sobre la imagen */
}

/* Estilos para el carousel */
.owl-four.owl-carousel {
    display: grid;
    grid-template-columns: 1fr;
    /* Cambia a una sola columna en pantallas pequeñas */
    gap: 10px;
    height: 100vh;
    /* Asignar el 100% del alto de la ventana (viewport height) */
    margin: 0 auto;
    /* Centrar el carousel en la pantalla */

}

.owl-four.owl-carousel .item {
    width: 100%;
    /* Ajustar el ancho del item del carousel al 100% */
    height: 100%;
    /* Ajustar el alto del item del carousel al 100% */
    display: flex;
    /* Utilizar flexbox para centrar la imagen verticalmente */
    align-items: center;
    /* Centrar verticalmente la imagen */
}

/*PROMOCIONES*/
/* Estilos para las imágenes dentro de "news-img-wrap" */
.news-img-wrap img {
    width: 150%;
    height: 500px;
    /* Ajusta esta altura según tus necesidades */
    /* object-fit: cover;*/
    /*object-position: center;*/
    /*display: block;*/
    /*margin: 0 auto;*/
    /* Centrar verticalmente las imágenes */
}

/* Estilos para la sección "gallery-images-section" */
.gallery-images-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    /* Ajusta el ancho máximo según tus necesidades */
    margin: 0 auto;
    /* Centrar la sección horizontalmente */
}

/* Estilos para el contenedor principal */
.main-container {
    max-width: auto; /* Tamaño máximo del contenedor */
    max-height: 500px; /* Tamaño máximo del contenedor */
    margin: 0 auto; /* Centrar el contenedor en la pantalla */
    overflow: auto; /* Agregar barra de desplazamiento cuando sea necesario */
    padding: 20px; /* Agregar un espacio interno al contenedor */
}

/* Estilos para la barra de desplazamiento */
.main-container::-webkit-scrollbar {
    width: 10px; /* Ancho de la barra de desplazamiento */
    background-color: rgba(240, 240, 240, 0.33); /* Color de fondo de la barra de desplazamiento */
}

.main-container::-webkit-scrollbar-thumb {
    background-color: #1c3961; /* Color del "pulgar" de la barra de desplazamiento */
    border-radius: 5px; /* Bordes redondeados del "pulgar" */
}

.main-container::-webkit-scrollbar-thumb:hover {
    background-color: #002559; /* Color del "pulgar" de la barra de desplazamiento cuando el cursor esté sobre él */
}

/* Actividades*/
#actividades {
    display: block;
}

/* Estilos para versión móvil */
#actividades-movil {
    display: none;
}

/* Media Query para pantallas de tamaño máximo de 768px (tamaño de pantalla típico de móvil) */
@media (max-width: 768px) {
    #actividades {
        display: none;
    }

    #actividades-movil {
        display: block;
    }
}


  