.active-hamburguer {
    background-color: black !important;
}

.containerTitle h1,
.containerTitle h2 {
    color: white;
    /* Letras blancas */
    text-shadow: 1px 1px 2px black;
    /* Sombra */
    padding: 10px;
    /* Espaciado interno */
    text-align: center;
    /* Alineación centrada del texto */
    margin: 0;
    /* Eliminar márgenes por defecto */
}

/* Estilos para la sección "email" */
.warning {
    color: red;
    font-size: 14px;
    margin-top: 5px;
}

#emailInput {
    color: white;
    font-size: 14px;
}


/*MEDIA*/

.containerMedia {
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    padding: 10px;
    align-items: center;

}

.social-list {
    /*display: flex;*/
    gap: 7px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.social-list li a {
    color: white;
    /* Cambiamos el color del texto a blanco */
    font-size: 25px;
}

.top-header-right {
    display: flex;
    justify-content: flex-end;
    /* Alineamos el social-block a la derecha */
    height: 35px;
}

@media (max-width: 768px) {
    .social-list {
        gap: 0px;
        margin: 0;
        justify-content: flex-end;
    }

    .top-header-right {
        justify-content: left;
        /* Alineamos el social-block a la derecha */
        height: 35px;
    }

}

/*MENÚ PANTALLA GRANDE*/

.menu-list {
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 0;
    margin: 0;
}

.menu-list li {
    margin: 0 0 1px;
}

.menu-parent-span {
    color: white;
    font-size: 22px;
    font-weight: bold;

    text-decoration: none;
    padding: 15px 10px;
    border: 2px solid rgb(76, 74, 74);
    border-radius: 5px;
    background-color: rgb(76, 74, 74);
    opacity: 0.8;
    gap: 0px;
}

.menu-parent-span:hover {
    background-color: #333;
    /* Cambia el color de fondo al pasar el mouse sobre el enlace */
}

.menu-list li a {
    font-size: 22px;
    font-weight: bold;
    color: white;
    text-decoration: none;
    padding: 15px 10px;
    border: 2px solid rgb(76, 74, 74);
    border-radius: 5px;
    background-color: rgb(76, 74, 74);
    opacity: 0.8;
    /* Ajusta la transparencia aquí (valores entre 0 y 1) */

}

.menu-list li a:hover {
    background-color: #333;
    /* Cambia el color de fondo al pasar el mouse sobre el enlace */
}

/* Estilos para el menu-list en la versión móvil */
.menu-list {
    gap: 0px;
    /* Ajustar el espaciado entre los elementos */

}


/*MENÚ PANTALLA MÓVIL*/

/* Estilos para el menu-list en la versión móvil */
.menu-list-mobile {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    /* Cambia la dirección a columna para mostrar en vertical */
    gap: 20px;
    /* Ajustar el espaciado entre los elementos */

}

.menu-list-mobile li {
    margin-bottom: 15px;

}

.menu-parent-mobile-span {
    color: white;
    font-size: 20px;
    font-weight: bold;

    text-decoration: none;
    padding: 15px 10px;
    border: 2px solid rgb(76, 74, 74);
    border-radius: 5px;
    background-color: rgb(76, 74, 74);
    opacity: 0.8;
    cursor: pointer;
}

.menu-parent-mobile-span:hover {
    background-color: #333;
    /* Cambia el color de fondo al pasar el mouse sobre el enlace */
}

.menu-parent-mobile-li {
    color: white;
    font-size: 15px;
    font-weight: bold;

    text-decoration: none;
    padding: 15px 10px;
    border: 1px solid rgb(76, 74, 74);
    border-radius: 10px;
    background-color: rgb(76, 74, 74);
    opacity: 0.8;
    z-index: 10;
    cursor: pointer; /* Agregamos la propiedad cursor para cambiar el cursor a una "manita" */

}

/* Establecer la posición y el z-index para el submenú */
#sub-menu-mobile {
    display: none;
    position: relative;
    top: 70%; /* Cambiar este valor para ajustar la posición vertical del submenú */
    left: 0;
    z-index: 10;
    padding: 15px 10px; /* Agregar espacio vertical entre los elementos del submenú */

}

/* Establecer la posición y el z-index para el submenú */

/* Ajustar el espacio entre los elementos <li> del submenú */
#sub-menu li {
    margin-bottom: 15px; /* Agregar margen entre los elementos <li> del submenú */
}

.menu-list-mobile li a {
    font-size: 20px;
    font-weight: bold;
    color: white;
    text-decoration: none;
    padding: 15px 10px;
    border: 2px solid rgb(76, 74, 74);
    border-radius: 5px;
    background-color: rgb(76, 74, 74);
    opacity: 0.8;
    /* Ajusta la transparencia aquí (valores entre 0 y 1) */
}

.menu-list-mobile li a:hover {
    background-color: #333;
    /* Cambia el color de fondo al pasar el mouse sobre el enlace */
}

/* Estilos para la versión móvil */
.nav-mobile {
    display: none;
    /* Ocultar el menú desplegable por defecto */
}

/* Estilos para el botón de hamburguesa */

.toggle-menu-btn {
    display: none;
    /* Ocultar el botón de hamburguesa en pantallas más grandes */
    font-size: 24px;
    /* Aumentar el tamaño del botón */
    background: none;
    border: 2px solid black;
    /* Agregar un borde blanco alrededor del botón */
    border-radius: 5px;
    /* Añadir esquinas redondeadas */
    padding: 6px 10px;
    /* Ajustar el relleno para que el botón sea más grande */
    cursor: pointer;
    color: black;
    font-weight: bold;
}

.toggle-menu-btn:hover {
    background-color: white;
    /* Cambiar el color de fondo al pasar el mouse sobre el botón */
    color: black;
    /* Cambiar el color del texto al pasar el mouse sobre el botón */
    border: 2px solid black;
}

@media (max-width: 1200px) {

    /* Mostrar el menú desplegable en pantallas pequeñas */
    .nav-mobile {
        display: none;
    }

    /* Mostrar el botón de hamburguesa en pantallas pequeñas */
    .toggle-menu-btn {
        display: block;
    }

    .imgcarousel {
        height: 900px;
    }

    .owl-four.owl-carousel {
        height: 50%;

    }

    #mapgoogle {
        height: 70vh; /* Usando unidades relativas para altura */
        max-height: 400px; /* Establecer un alto máximo */
    }

    #detailsMap {
        top: 118%;
    }

}

@media (max-width: 768px) {
    #mapgoogle {
        height: 50vh; /* Ajusta la altura según tus necesidades */
        max-height: 300px; /* Establece un alto máximo */
    }

    .wrap-map {
        height: 40px;
    }
}

/* Estilos para pantallas grandes */
@media (min-width: 1090px) {

    .nav-mobile {
        display: none;
        /* Ocultar el menú desplegable en pantallas grandes */
    }

    .menu-list-mobile {
        display: none;
        /* Ocultar el menú desplegable en pantallas grandes */
    }

    .toggle-menu-btn {
        display: none;
        /* Ocultar el botón de hamburguesa en pantallas grandes */
    }

}


.container-action {
    width: 90vw;
    margin: 50px auto;
    padding: 20px;
    display: grid;
    grid-template-columns: 15% 60% 25%;
    grid-template-rows: repeat(3, auto);
    grid-gap: 10px;
    /*   background-color: #F0F8FF; */
}

/* .box{
        border: 2px solid black;
        background-color: rgb(228, 188, 228);
        padding: 23px;
} */


.main {
    grid-row: 2;
    grid-column: 2/3;
    font-family: "Abril Fatface", cursive;
    font-size: 5.2vw;
    padding-left: 1em;
    /*   background-color: #5F9EA0; */
}

.misc {
    grid-row: 2;
    grid-column: 3/-1;
    padding: 1em;
    padding-right: 40%;
}

.misc h5 {
    font-family: "Inter", sans-serif;
    font-weight: 200;
    font-size: .9vw;
    color: black;
    line-height: 1.6;
}

.line {
    width: 5em;
    height: 4px;
    background-color: #ff4e4e;
    margin: 20px 0;
}

.cart {
    grid-column: 1/2;
}

.carticon img {
    width: 40%;
    display: none;
}

.cart button {
    width: 9em;
    height: 3em;
    background-color: #ff4e4e;
    display: block;
    border-radius: 50px;
    margin: 0px 10px;
    padding: 10px;
    text-align: center;
    font-family: "Inter", sans-serif;
    font-size: 1em;
    color: white;
    border: none;
}

.cart button:hover {
    box-shadow: 0 5px 9px 0 rgba(0, 0, 0, 0.24), 0 7px 20px 0 rgba(0, 0, 0, 0.19);
    border: none;
}

.navicon img {
    width: 50%;
    display: none;
}

.menu {
    grid-column: 2/5;
    grid-row: 3/-1;
    /*   background-color: #A9A9A9; */
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: auto;
    grid-gap: 1em;
    padding-top: 5%;
}

.cardView {
    background-color: #fff;
    border-radius: 9%;
    padding: 5%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    cursor: pointer;
}

.cardView:hover {
    background-color: #e6e6e6;
    cursor: pointer;
}

.cardViewhn {
    background-color: #fff;
    border-radius: 9%;
    padding: 5%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    cursor: pointer;
}

.cardViewhn:hover {
    background-color: #e6e6e6;
}

.item img {
    width: 80%;
    height: 80%;
    border-radius: 50%;
    display: block;
    margin: 10% auto;
}

.name h4 {
    text-align: center;
    color: #000;
    font-size: 2rem;
    font-family: "Inter", sans-serif;
    padding-top: 15%;
}

/* ============================================ */
/* ============================================ */
/* ============================================ */
/* MEDIA QUERIES */
/* ============================================ */
/* ============================================ */
/* ============================================ */
@media screen and (max-width: 800px) {
    .container-action {
        width: 90vw;
        margin: 50px auto;
        padding: 20px;
        display: grid;
        grid-template-columns: 10% 80% 10%;
        grid-template-rows: repeat(4, auto);
        grid-gap: 10px;
        /*     background-color: #f0f8ff; */
    }


    .nav {
        display: none;
        /*   background-color: lightblue; */
    }

    .navicon {
        grid-column: 1/2;
        grid-row: 1/2;
        /*     background-color: #faebd5; */
    }

    .navicon img {
        display: inline-block;
        width: 70%;
        height: 90%;
    }

    .cart {
        display: none;
    }

    .carticon {
        grid-column: 3/4;
        grid-row: 1/2;
        /*     background-color: #faebd5; */
    }

    .carticon img {
        display: inline-block;
        width: 70%;
        height: 90%;
    }

    .main {
        grid-row: 2/3;
        grid-column: 1/3;
        font-family: "Abril Fatface", cursive;
        font-size: 7vw;
        padding: 1em 2.5em 1em 0em;
        /*   background-color: #5F9EA0; */
    }

    .menu {
        grid-column: 1/4;
        grid-row: 3/5;
        /*   background-color: #A9A9A9; */
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-auto-rows: auto;
        grid-gap: 3em;
        padding: 5%;
        /*max-height: 98vw;*/
        overflow: hidden;
    }

    .menu-mobile {
        grid-column: 1/4;
        grid-row: 3/5;
        /*   background-color: #A9A9A9; */
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-auto-rows: auto;
        grid-gap: 3em;
        padding: 5%;
        /*max-height: 98vw;*/
        overflow: hidden;
    }

    .cardView {
        background-color: #fff;
        border-radius: 9%;
        padding: 5%;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        cursor: pointer;
    }

    .cardView:hover {
        background-color: #e6e6e6;
        cursor: pointer;
    }

    .item img {
        width: 80%;
        height: 80%;
        border-radius: 50%;
        display: block;
        margin: 10% auto;
    }

    .name h4 {
        text-align: center;
        color: #000;
        font-size: 1.5rem;
        font-family: "Inter", sans-serif;
        padding-top: 15%;
    }

    .misc {
        grid-row: 5/-1;
        grid-column: 1/4;
        padding: 10% 1.3em;
    }

    .misc h5 {
        font-family: "Inter", sans-serif;
        font-weight: 200;
        font-size: 4vw;
        color: black;
        line-height: 1.6;
    }

    .line {
        width: 9em;
        height: 4px;
        background-color: #ff4e4e;
        margin: 20px 0;
    }
}


