 /*MEDIA*/

 .containerMedia {
     grid-template-columns: repeat(2, 1fr);
     gap: 10px;
     padding: 10px;
     align-items: center;

 }

 .social-list {
     display: flex;
     gap: 7px;
     margin: 0;
     padding: 0;
     list-style: none;
 }

 .social-list li a {
     color: white;
     /* Cambiamos el color del texto a blanco */
     font-size: 20px;
 }

 .top-header-right {
     display: flex;
     justify-content: flex-end;
     /* Alineamos el social-block a la derecha */
     height: 35px;
 }

 /*MENÚ PANTALLA GRANDE*/

 .menu-list {
     list-style: none;
     display: flex;
     justify-content: center;
     padding: 0;
     margin: 0;
 }

 .menu-list li {
     margin: 0 0 px;
 }

 .menu-list li a {
     font-size: 22px;
     font-weight: bold;
     color: white;
     text-decoration: none;
     padding: 15px 10px;
     border: 2px solid rgb(76, 74, 74);
     border-radius: 5px;
     background-color: rgb(76, 74, 74);
     opacity: 0.8;
     /* Ajusta la transparencia aquí (valores entre 0 y 1) */

 }

 .menu-list li a:hover {
     background-color: #333;
     /* Cambia el color de fondo al pasar el mouse sobre el enlace */
 }

 /* Estilos para el menu-list en la versión móvil */
 .menu-list {
     gap: 0px;
     /* Ajustar el espaciado entre los elementos */

 }

 /*MENÚ PANTALLA MÓVIL*/

 /* Estilos para el menu-list en la versión móvil */
 .menu-list-mobile {
     list-style: none;
     margin: 0;
     padding: 0;
     display: flex;
     flex-direction: column;
     /* Cambia la dirección a columna para mostrar en vertical */
     gap: 20px;
     /* Ajustar el espaciado entre los elementos */

 }

 .menu-list-mobile li {
     margin-bottom: 15px;

 }

 .menu-list-mobile li a {
     font-size: 20px;
     font-weight: bold;
     color: white;
     text-decoration: none;
     padding: 15px 10px;
     border: 2px solid rgb(76, 74, 74);
     border-radius: 5px;
     background-color: rgb(76, 74, 74);
     opacity: 0.8;
     /* Ajusta la transparencia aquí (valores entre 0 y 1) */
 }

 .menu-list-mobile li a:hover {
     background-color: #333;
     /* Cambia el color de fondo al pasar el mouse sobre el enlace */
 }

 /* Estilos para la versión móvil */
 .nav-mobile {
     display: none;
     /* Ocultar el menú desplegable por defecto */
 }

 /* Estilos para el botón de hamburguesa */

 .toggle-menu-btn {
     display: none;
     /* Ocultar el botón de hamburguesa en pantallas más grandes */
     font-size: 24px;
     /* Aumentar el tamaño del botón */
     background: none;
     border: 2px solid black;
     /* Agregar un borde blanco alrededor del botón */
     border-radius: 5px;
     /* Añadir esquinas redondeadas */
     padding: 6px 10px;
     /* Ajustar el relleno para que el botón sea más grande */
     cursor: pointer;
     color: black;
     font-weight: bold;
 }

 .toggle-menu-btn:hover {
     background-color: white;
     /* Cambiar el color de fondo al pasar el mouse sobre el botón */
     color: black;
     /* Cambiar el color del texto al pasar el mouse sobre el botón */
 }

 @media (max-width: 768px) {

     /* Mostrar el menú desplegable en pantallas pequeñas */
     .nav-mobile {
         display: none;
     }

     /* Mostrar el botón de hamburguesa en pantallas pequeñas */
     .toggle-menu-btn {
         display: block;
     }

     .imgcarousel {
         height: 900px;
     }

     .owl-four.owl-carousel {
         height: 50%;

     }

     #mapgoogle {
         height: 270%;
     }

     #detailsMap {
         top: 118%;
     }




 }

 /* Estilos para pantallas grandes */
 @media (min-width: 769px) {

     .nav-mobile {
         display: none;
         /* Ocultar el menú desplegable en pantallas grandes */
     }

     menu-list-mobile {
         display: none;
         /* Ocultar el menú desplegable en pantallas grandes */
     }

     .toggle-menu-btn {
         display: none;
         /* Ocultar el botón de hamburguesa en pantallas grandes */
     }

 }


 /*CARRUSEL*/

 /* Agregar un sombreado suave a las imágenes */
 /* Agregar un sombreado suave a las imágenes del carrusel */
 .shadowimg {
     box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
     /* Ajustar el color y la opacidad según tus preferencias */
     transition: box-shadow 0.3s ease-in-out;
     /* Agregar una transición suave al sombreado */
 }

 /* Ajustar el sombreado cuando el cursor esté sobre la imagen */
 .shadowimg:hover {
     box-shadow: 0 9px 16px rgba(0, 0, 0, 1);
     /* Cambiar el sombreado cuando el cursor esté sobre la imagen */
 }

 /* Estilos para el carousel */
 .owl-four.owl-carousel {
     display: grid;
     grid-template-columns: 1fr;
     /* Cambia a una sola columna en pantallas pequeñas */
     gap: 10px;
     height: 100vh;
     /* Asignar el 100% del alto de la ventana (viewport height) */
     margin: 0 auto;
     /* Centrar el carousel en la pantalla */

 }

 .owl-four.owl-carousel .item {
     width: 100%;
     /* Ajustar el ancho del item del carousel al 100% */
     height: 100%;
     /* Ajustar el alto del item del carousel al 100% */
     display: flex;
     /* Utilizar flexbox para centrar la imagen verticalmente */
     align-items: center;
     /* Centrar verticalmente la imagen */
 }

 /*PROMOCIONES*/
 /* Estilos para las imágenes dentro de "news-img-wrap" */
 .news-img-wrap img {
     width: 150%;
     height: 500px;
     /* Ajusta esta altura según tus necesidades */
     /* object-fit: cover;
     object-position: center;
     display: block;
     margin: 0 auto; */
     /* Centrar verticalmente las imágenes */
 }

 /* Estilos para la sección "gallery-images-section" */
 .gallery-images-section {
     display: flex;
     flex-wrap: wrap;
     justify-content: center;
     align-items: center;
     max-width: 1200px;
     /* Ajusta el ancho máximo según tus necesidades */
     margin: 0 auto;
     /* Centrar la sección horizontalmente */
 }

 /* Estilos para la sección "email" */
 .warning {
     color: red;
     font-size: 14px;
     margin-top: 5px;
 }

 #emailInput {
     color: white;
     font-size: 14px;
 }